/* 
================================================================================
	HOME
================================================================================
*/
/* 
================================================================================
	PAGE
================================================================================
*/
.page-content { 
	min-height: rem-calc(500); 
}
.page-title {  

}
/* Contact */
.form-comment { 
	min-height: rem-calc(100); 
	max-height: rem-calc(160); 
}
/* 
================================================================================
  BLOG
================================================================================
*/
.sidebar-widget input[type="submit"] { 
	padding: rem-calc(10 20); 
	border: 0; 
	background: $black; 
	text-align: center;  
	color: $white; 
	&:hover { 
		background: $white; 
		color: $black; 
	}
}
h2 a { 
	font-size: inherit; 
}
/* 
.post-container {  }
.date {  }
.categories {  }
.tags {  }
.tags span {  } 
*/
/* Pagination */
.page-numbers { 
	margin: rem-calc(0 0 20 0); 
	li { 
		display: inline-block;
		.page-numbers { 
			padding: rem-calc(10);
			background: $primary;
			&:hover { 
				background: $secondary; 
				color: $primary; 
			} 
		} 
		.current { 
			padding: rem-calc(10); 
			background: $secondary; 
			color: $primary; 
		}
	}
}
/* Comments */
/* 
.comment-title { 

}
.comment-list {  

}
.comment {  

}
.comment-gravatar {  

}
.comment-form {  

}
.reply {  } 
*/
/* 
================================================================================
  SIDEBAR
================================================================================
*/
/* 
.sidebar-right {  }
.sidebar-left {  }
.sidebar-widget {  }
 */
/* 
================================================================================
	WORDPRESS
================================================================================
*/
.alignleft { 
	float: left; 
	margin: rem-calc(0 20 20 0);
}
.alignright { 
	float: right; 
	margin: rem-calc(0 0 20 20); 
}
.aligncenter { 
	display: block;
	margin: rem-calc(20) auto;  
	text-align: center;
}
/* WordPress Search */
.form-search { 
	float: right; 
	width: rem-calc(260);
	margin: rem-calc(20 0); 
}
.form-search-box { 
	float: right;
	width: auto; 
	margin: 0; 
}
.form-search-button { 
	float: right;
	padding: rem-calc(9 20); 
	background: $black; 
	border: 0;  
	color: $white; 
	&:hover { 
		background: $white; 
		color: $black; 
	}
}