/*
================================================================================
	COLORS / VARIABLES
================================================================================
*/
// Colors
$white: #ffffff;
$black:	#000000;
$grey: #eaeaea;

$theme-white: #fafafa;
$theme-black: #2b2925;
$theme-grey: $grey;
$blue: #5c8fb2;
$dark-blue: #648591;
$red: #c95555;

$background: #fafafa;
$text: #222;
$link: $blue;
$link-hover: $red;

$primary: #222;
$secondary: #efefef;

// Variables
$font-heading: 'Lato', serif;
$font-text: 'Halant', serif;
$h1-font: 900 rem-calc(45) 'Lato', sans-serif;
$h2-font: 700 rem-calc(32) 'Lato', sans-serif;
$h3-font: 600 rem-calc(26) 'Halant', sans-serif;
$h4-font: 400 rem-calc(22) 'Lato', sans-serif;	
$h5-font: 600 rem-calc(18) 'Halant', sans-serif;
$h6-font: 600 rem-calc(16) 'Halant', sans-serif;
/*
================================================================================
	TYPOGRAPHY
================================================================================
*/
@font-face { 
	font-family: 'icomoon'; 
	src: url('../fonts/icomoon.eot?-xort90'); 
	src: url('../fonts/icomoon.eot?#iefix-xort90') format('embedded-opentype'), 
		 url('../fonts/icomoon.woff?-xort90') format('woff'), 
		 url('../fonts/icomoon.ttf?-xort90') format('truetype'), 
		 url('../fonts/icomoon.svg?-xort90#icomoon') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}
[class^="icon-"], [class*=" icon-"] { 
	font-family: 'icomoon'; 
	speak: none; 
	font-style: normal; 
	font-weight: normal; 
	font-variant: normal; 
	text-transform: none; 
	line-height: 1; 
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale; 
}
html { 
	font-size: 100%; 
}
body {
	background: $background;
}
body, div, ul, ol, li, p, span, a {
	font-family: $font-text; 
	font-size: rem-calc(20); 
	color: $text; 
}
p {
	margin: rem-calc(0 0 5 0);
}
ul { 
	margin: rem-calc(0 0 30 30);
	padding: 0;
}
h1 { 
	margin: rem-calc(0 0 10 0);
	font: $h1-font;
	color: $red; 
}
h2 { 
	margin: rem-calc(0 0 10 0); 
	font: $h2-font;
	text-transform: uppercase;
	color: $dark-blue;
}
h3 { 
	margin: rem-calc(0 0 10 0);
	font: $h3-font;
	color: $theme-black; 
}
h4 { 
	margin: rem-calc(0 0 10 0);
	font: $h4-font;
}
h5 { 
	margin: rem-calc(0 0 10 0);
	font: $h5-font;
}
h6 { 
	margin: rem-calc(0 0 10 0); 
	font: $h6-font;
}
a, a:link { 
	text-decoration: none;
	color: $link;  
}
a:visited { 
	
}
a:hover { 
	color: $link-hover; 
}
a:focus { 
	outline: 1px solid rgba(0, 0, 0, 0.4); 
}
a:active {  

}
.icon-phone:before { content: "\ea1d"; }
.icon-envelop:before { content: "\ea34"; }
.icon-arrow-up:before { content: "\edb5"; }
.icon-arrow-right:before { content: "\edb9"; }
.icon-arrow-down:before { content: "\edbd"; }
.icon-arrow-left:before { content: "\edc1"; }
.icon-google-plus:before { content: "\eee5"; }
.icon-facebook:before { content: "\eee8"; }
.icon-facebook2:before { content: "\eee9"; }
.icon-instagram:before { content: "\eeec"; }
.icon-twitter:before { content: "\eeed"; }
.icon-youtube:before { content: "\eef3"; }
.icon-pinterest:before { content: "\ef2c"; }
/* 
================================================================================
	CUSTOM CLASSES
================================================================================
*/
.center { 
	text-align: center; 
}
.bold { 
	font-weight: bold; 
}
.italic { 
	font-style: italic; 
}
.small { 
	font-size: rem-calc(10);
}
.clear { 
	clear: both; 
}
.hidden { 
	display: none !important; 
} 
.margin-center { 
	display: block; 
	margin: auto; 
}
.margin-none { 
	margin: 0 !important; 
}
.padding-none { 
	padding: 0 !important; 
}
.padding-left-none { 
	padding-left: 0 !important; 
}
.padding-right-none { 
	padding-right: 0 !important; 
}
.iframe { 
	width: 100%; 
	min-height: rem-calc(600);
	border: 0; 
}