//--------------------------------------------------------------
// MAIN HTML
//--------------------------------------------------------------

.body-site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.website-container {
	flex: 1;
}
