//--------------------------------------------------------------
// BLOG
//--------------------------------------------------------------

.sidebar-widget {
	input[type='submit'] {
		background: $color-black;
		border: 0;
		color: $color-white;
		padding: 10px 20px;
		text-align: center;

		&:hover {
			background: $color-white;
			color: $color-black;
		}
	}
}

h2 {
	a {
		font-size: inherit;
	}
}

.post-container {

}

.date {

}

.categories {

}

.tags {
	span {

	}
}


//-----------------------------------------
// Pagination
//-----------------------------------------
.page-numbers {
	margin: 0 0 20px 0;

	li {
		display: inline-block;

		.page-numbers {
			background: $color-black;
			padding: 10px;

			&:hover {
				background: $color-white;
				color: $color-black;
			}
		}

		.current {
			background: $color-white;
			color: $color-black;
			padding: 10px;
		}
	}
}
