//--------------------------------------------------------------
// ELEMENTS
//--------------------------------------------------------------

html {
	font-size: 100%;
}

body {
	background: $color-white;
}

body,
div,
ul,
ol,
li,
p,
span,
a {
	color: $color-black;
	font-family: $font-halant;
	font-size: rem(20);
}

p {
	margin: rem(0 0 5 0);
}

ul {
	margin: rem(0 0 30 30);
	padding: 0;
}


//-----------------------------------------
// Headings
//-----------------------------------------
h1,
.h1 {
	color: $color-black;
	font: {
		family: $font-lato;
		size: rem(45);
		weight: 900;
	}
	line-height: 1.2;
	margin: rem(0 0 10 0);
}

h2,
.h2 {
	color: $color-black;
	font: {
		family: $font-lato;
		size: rem(32);
		weight: 700;
	}
	line-height: 1.2;
	margin: rem(0 0 10 0);
	text-transform: uppercase;
}

h3,
.h3 {
	color: $color-black;
	font: {
		family: $font-halant;
		size: rem(26);
		weight: 600;
	}
	line-height: 1.2;
	margin: rem(0 0 10 0);
}

h4,
.h4 {
	font: {
		family: $font-lato;
		size: rem(22);
		weight: 400;
	}
	line-height: 1.2;
	margin: rem(0 0 10 0);
}

h5,
.h5 {
	font: {
		family: $font-halant;
		size: rem(18);
		weight: 600;
	}
	line-height: 1.2;
	margin: rem(0 0 10 0);
}

h6,
.h6 {
	font: {
		family: $font-halant;
		size: rem(16);
		weight: 600;
	}
	line-height: 1.2;
	margin: rem(0 0 10 0);
}


//-----------------------------------------
// Links
//-----------------------------------------
a {
	color: $color-hippie-blue;
}

a:hover {
	color: $color-chestnut-rose;
}

a:focus {
	outline: 1px solid rgba($color-black, 0.4);
}
