# //--------------------------------------------------------------
# // GITIGNORE
# //--------------------------------------------------------------

# //-----------------------------------------
# // File Types
# //-----------------------------------------
*.7z
*._*
*.bak
*.bz2
*.com
*.cvs
*.db
*.dll
*.dmg
*.exe
*.gz
*.idea
*.iso
*.jar
*.log
*.map
*.o
*.pot
*.rar
*.sass-cache
*.so
*.sql
*.sqlite
*.sublime-project
*.sublime-workspace
*.svn
*.swp
*.tar
*.tgz
*.zip
*~
.DS_Store
._*
.editorconfig
.htaccess
.scssc
.vscode
Thumbs.db
ehthumbs.db
error_log

# //-----------------------------------------
# // Theme
# //-----------------------------------------
dist/
node_modules/
