# //--------------------------------------------------------------
# // Target All
# //--------------------------------------------------------------
*.bak
*.log
*.map
*.rar
*.sass-cache*
*.tar
*.tgz
*.zip
*~

# //--------------------------------------------------------------
# // Misc Files
# //--------------------------------------------------------------
._*
.DS_Store
.htaccess
error_log

# //--------------------------------------------------------------
# // Root Files
# //--------------------------------------------------------------
robots.txt
sitemap.xml
sitemap.xml.gz

# //--------------------------------------------------------------
# // WordPress
# //--------------------------------------------------------------
/license.txt
/readme.html
/advanced-cache.php
/backup-db/
/backups/
/blogs.dir/
/cache/
/gallery/
/ngg/
/ngg_styles/
/object-cache.php
/upgrade/
/uploads/
/wp-cache-config.php
wp-config.php

# //--------------------------------------------------------------
# // NPM, Gulp, Grunt, Bower
# //--------------------------------------------------------------
bower_components/
node_modules/
custom-concat.js
