# //--------------------------------------------------------------
# // GITIGNORE
# //--------------------------------------------------------------

# //-----------------------------------------
# // File Types
# //-----------------------------------------
*.7z
*._*
*.bak
*.bz2
*.com
*.cvs
*.db
*.dll
*.dmg
*.exe
*.gz
*.idea
*.iso
*.jar
*.log
*.map
*.o
*.pot
*.rar
*.sass-cache
*.so
*.sql
*.sqlite
*.sublime-project
*.sublime-workspace
*.svn
*.swp
*.tar
*.tgz
*.zip
*~
.DS_Store
._*
.editorconfig
.htaccess
.scssc
.vscode
Thumbs.db
ehthumbs.db
error_log

# //-----------------------------------------
# // WordPress
# //-----------------------------------------
advanced-cache.php
backup-db/
backups/
blogs.dir/
cache-config.php
cache/
gallery/
local-config.php
logs/
mu-plugins/*
ngg/
ngg_styles/
object-cache.php
plugins/*
tests/
themes/twenty*/
upgrade/
uploads/
wp-cache-config.php


# //-----------------------------------------
# // Theme
# //-----------------------------------------
dist/


# //-----------------------------------------
# // NPM, Node, Configs
# //-----------------------------------------
node_modules/
