//--------------------------------------------------------------
// FOOTER
//--------------------------------------------------------------

.footer {
	background: $color-mine-shaft;
	position: relative;
	width: 100%;

	p {
		color: $color-white;
		font-size: rem(14);
		margin: 0;
		text-align: center;
	} // p

} // .footer
