// COLORS

// GENERAL
$color-black: #000;
$color-white: #fff;

// THEME
$color-congo-brown: #5c3f3b;
$color-eminence: #582f73;
$color-mandys-pink: #f3d0bd;
$color-prairie-sand: #a54723;
$color-voodoo: #543159;
