//--------------------------------------------------------------
// COLORS
//--------------------------------------------------------------

//-----------------------------------------
// General
//-----------------------------------------
$color-black: #000;
$color-gallery: #EAEAEA;
$color-mine-shaft: #222;
$color-white: #FFF;


//-----------------------------------------
// Theme
//-----------------------------------------
$color-alabaster: #FAFAFA;
$color-chestnut-rose: #C95555;
$color-dune: #2B2925;
$color-hippie-blue: #5C8FB2;
$color-lynch: #648591;
