//--------------------------------------------------------------
// COLORS
//--------------------------------------------------------------

//-----------------------------------------
// General
//-----------------------------------------
$color-black: #000;
$color-gallery: #EAEAEA;
$color-mine-shaft: #222;
$color-white: #FFF;


//-----------------------------------------
// Theme
//-----------------------------------------
$color-alabaster: #FAFAFA;
$color-chestnut-rose: #C95555;
$color-congo-brown: #5C3F3B;
$color-dune: #2B2925;
$color-eminence: #582F73;
$color-hippie-blue: #5C8FB2;
$color-lynch: #648591;
$color-mandys-pink: #F3D0BD;
$color-prairie-sand: #A54723;
$color-voodoo: #543159;


//-----------------------------------------
// Styles
//-----------------------------------------
$background: $color-alabaster;
$text: $color-mine-shaft;
$link: $color-hippie-blue;
$link-hover: $color-chestnut-rose;


//-----------------------------------------
// Primary
//-----------------------------------------
$primary: $color-mine-shaft;
$secondary: $color-gallery;
