//--------------------------------------------------------------
// TYPOGRAPHY
//--------------------------------------------------------------

$font-heading: 'Lato', serif;
$font-text: 'Halant', serif;
$h1-font: 900 rem(45) 'Lato', sans-serif;
$h2-font: 700 rem(32) 'Lato', sans-serif;
$h3-font: 600 rem(26) 'Halant', sans-serif;
$h4-font: 400 rem(22) 'Lato', sans-serif;
$h5-font: 600 rem(18) 'Halant', sans-serif;
$h6-font: 600 rem(16) 'Halant', sans-serif;
