//--------------------------------------------------------------
// COMPONENT SOCIAL MEDIA
//--------------------------------------------------------------

.c-social-media {
	display: inline-flex;

	// <li>
	&__item {
		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	// <a>
	&__link {
		color: $color-primary;

		&:focus,
		&:hover {
			color: $color-tertiary;
		}
	}

	svg {
		display: block;
	}
}
