//--------------------------------------------------------------
// HELPER
//--------------------------------------------------------------

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.small {
	font-size: rem(10);
}

.iframe {
	border: 0;
	min-height: 600px;
	width: 100%;
}
