//--------------------------------------------------------------
// PAGINATION
//--------------------------------------------------------------

.pagination {
	// <ul>
	&__list {
	}

	// <li>
	&__list-item {
	}

	&__previous {
	}

	&__next {
	}
}
