//--------------------------------------------------------------
// SKIP NAVIGATION
//--------------------------------------------------------------

.skip-navigation {
	@include visual-hide;

	&:active,
	&:focus,
	&:hover {
		@include reverse-visual-hide;

		background-color: $color-white;
		font-size: rem-calc(20);
		left: 0;
		padding: 5px 10px;
		position: fixed;
		top: 0;
		z-index: 10000;
	}
}
