//--------------------------------------------------------------
// SETTINGS
//--------------------------------------------------------------

//-----------------------------------------
// Global
//-----------------------------------------
$global-width: 1180px;
$global-padding: 20px;
$global-radius: 5px;

//-----------------------------------------
// Media Queries
//-----------------------------------------
$mq-mobile-medium: 375px;
$mq-mobile-large: 425px;
$mq-medium: 640px;
$mq-tablet: 768px;
$mq-wordpress: 783px;
$mq-full: 960px;
$mq-laptop: 1024px;
$mq-global-width: $global-width;
$mq-laptop-large: 1440px;

//-----------------------------------------
// Fonts
//-----------------------------------------
$font-lato: 'Lato', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

// Family
$font-family-body: $font-montserrat;
$font-family-heading: $font-lato;

// Size
$font-size-content: 21px;

// Weight
$font-weight-light: 300; // Lato, Montserrat
$font-weight-normal: 400; // Lato, Montserrat
$font-weight-medium: 500; // Montserrat
$font-weight-semi-bold: 600;
$font-weight-bold: 700; // Lato, Montserrat
$font-weight-black: 900; // Lato

//-----------------------------------------
// Colors
//-----------------------------------------
// Neutrals
$color-black: #000000;
$color-white: #FFFFFF;
$color-gray: #808080;

// Theme Colors
$color-hippie-blue: #5C8FB2;
$color-chestnut-rose: #C95555;
$color-lynch: #648591;
$color-alabaster: #FAFAFA;
$color-dune: #2B2925;

// Roles
$color-primary: $color-hippie-blue;
$color-secondary: $color-chestnut-rose;
$color-tertiary: $color-lynch;
$color-theme-black: $color-dune;
$color-theme-white: $color-alabaster;
$color-theme-gray: $color-gray;

// Alerts
$color-error: #EA595E;
$color-warning: #F0BD2B;
$color-success: #59EA9D;

// Social Media - https://www.lockedownseo.com/social-media-colors/
$color-facebook: #3B5998;
$color-twitter: #1DA1F2;
$color-youtube: #FF0000;
$color-instagram: #C32AA3;
