//--------------------------------------------------------------
// SETTINGS
//--------------------------------------------------------------

//-----------------------------------------
// Media Queries
//-----------------------------------------
$mq-small: 320px;
$mq-medium: 640px;
$mq-wpadmin: 783px;
$mq-full: 960px;
$mq-large: 1024px;
$mq-xlarge: 1170px;
$mq-xxlarge: 1500px;


//-----------------------------------------
// Fonts
//-----------------------------------------
$font-lato: 'Lato', sans-serif;
$font-halant: 'Halant', serif;


//-----------------------------------------
// Colors Default
//-----------------------------------------
$color-black: #000;
$color-white: #FFF;
$color-gallery: #EAEAEA;
$color-mine-shaft: #222;


//-----------------------------------------
// Colors Theme
//-----------------------------------------
$color-hippie-blue: #5C8FB2; // Link.
$color-chestnut-rose: #C95555; // Link hover.
$color-alabaster: #FAFAFA;
$color-dune: #2B2925;
$color-lynch: #648591;
