//--------------------------------------------------------------
// WORDPRESS
//--------------------------------------------------------------

.alignleft {
	float: left;
	margin: rem(0 20 20 0);
} // .alignleft

.alignright {
	float: right;
	margin: rem(0 0 20 20);
} // .alignright

.aligncenter {
	display: block;
	margin: rem(20) auto;
	text-align: center;
} // .aligncenter


//-----------------------------------------
// Search
//-----------------------------------------
.form-search {
	margin: 20px 0;
	width: 260px;
	display: flex;

	&__input {
		margin: 0;
		width: auto;
	}

	&__button {
		background: $color-black;
		border: 0;
		color: $color-white;
		cursor: pointer;
		padding: 0 20px;

		&:hover {
			background: $color-white;
			color: $color-black;
		}
	}
}
