//--------------------------------------------------------------
// BUTTONS
//--------------------------------------------------------------

button,
.button,
a.button {
	appearance: none;
	background: $color-black;
	border: 0;
	color: $color-white;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: rem(16);
	line-height: 1.5;
	margin: 0;
	padding: rem(10 15);
	position: relative;
	text-align: center;
	text-decoration: none;

	&:hover {
		background: $color-white;
		color: $color-black;
	} // &:hover

	&:focus {
		background: $color-white;
		color: $color-black;
		outline: 1px solid rgba($color-black, 0.4);
	} // &:focus

} // button, .button, a.button
