//--------------------------------------------------------------
// HELPER
//--------------------------------------------------------------

.center {
	text-align: center;
} // .center

.bold {
	font-weight: bold;
} // .bold

.italic {
	font-style: italic;
} // .italic

.small {
	font-size: rem(10);
} // .small

.iframe {
	border: 0;
	min-height: rem(600);
	width: 100%;
} // .iframe
