//--------------------------------------------------------------
// ICONS
//--------------------------------------------------------------

@font-face {
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/icomoon.eot?-xort90');
	src: url('../fonts/icomoon.eot?#iefix-xort90') format('embedded-opentype'), url('../fonts/icomoon.woff?-xort90') format('woff'), url('../fonts/icomoon.ttf?-xort90') format('truetype'), url('../fonts/icomoon.svg?-xort90#icomoon') format('svg');
} // @font-face

[class^='icon-'],
[class*=' icon-'] {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: 'icomoon';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
} // [class^='icon-'], [class*=' icon-']

.icon-phone::before {
	content: '\ea1d';
} // .icon-phone::before

.icon-envelop::before {
	content: '\ea34';
} // icon-envelop::before

.icon-arrow-up::before {
	content: '\edb5';
} // .icon-arrow-up::before

.icon-arrow-right::before {
	content: '\edb9';
} // .icon-arrow-right::before

.icon-arrow-down::before {
	content: '\edbd';
} // .icon-arrow-down::before

.icon-arrow-left::before {
	content: '\edc1';
} // .icon-arrow-left::before

.icon-google-plus::before {
	content: '\eee5';
} // .icon-google-plus::before

.icon-facebook::before {
	content: '\eee8';
} // .icon-facebook::before

.icon-facebook2::before {
	content: '\eee9';
} // .icon-facebook2::before

.icon-instagram::before {
	content: '\eeec';
} // .icon-instagram::before

.icon-twitter::before {
	content: '\eeed';
} // .icon-twitter::before

.icon-youtube::before {
	content: '\eef3';
} // .icon-youtube::before

.icon-pinterest::before {
	content: '\ef2c';
} // .icon-pinterest::before
