/* 
================================================================================
	FOOTER
================================================================================
*/
.footer { 
	width: 100%;
	position: relative;  
	background: $primary; 
	p { 
		margin: 0;
		text-align: center;  
		font-size: rem-calc(14);
		color: $theme-white;
	}
}