/* 
================================================================================
	MAIN HTML
================================================================================
*/
.body-site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.website-container { 
	flex: 1;
}
button, .button, a.button { 
	display: inline-block;
	margin: 0; 
	padding: rem-calc(10 15);
	border: 0;
	background: $black; 
	position: relative;
	-webkit-appearance: none;
	cursor: pointer;
	line-height: 1.5;   
	text-decoration: none; 
	text-align: center; 
	font-family: inherit; 
	font-size: rem-calc(16); 
	color: $white; 
	&:hover {
		background: $white; 
		color: $black;
	}
	&:focus {
		outline: 1px solid rgba(0, 0, 0, 0.4);
		background: $white; 
		color: $black; 
	}
}