//--------------------------------------------------------------
// ELEMENTS
//--------------------------------------------------------------

* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	background-color: $color-white;
	color: $color-black;
	font-family: $font-family-body;
	font-size: $font-size-content;
	font-weight: $font-weight-normal;
	line-height: 1.5;
	margin: 0;
}

//-----------------------------------------
// HTML 5
//-----------------------------------------
article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
	display: block;
}

//-----------------------------------------
// Headings
//-----------------------------------------
h1,
.h1 {
	color: $color-black;
	font-family: $font-family-heading;
	font-size: rem-calc(45);
	font-weight: 900;
	line-height: 1.2;
	margin: 0 0 10px 0;
}

h2,
.h2 {
	color: $color-black;
	font-family: $font-family-heading;
	font-size: rem-calc(32);
	font-weight: 700;
	line-height: 1.2;
	margin: 0 0 10px 0;
	text-transform: uppercase;
}

h3,
.h3 {
	color: $color-black;
	font-family: $font-family-heading;
	font-size: rem-calc(26);
	font-weight: 600;
	line-height: 1.2;
	margin: 0 0 10px 0;
}

h4,
.h4 {
	font-family: $font-family-heading;
	font-size: rem-calc(22);
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 10px 0;
}

h5,
.h5 {
	font-family: $font-family-heading;
	font-size: rem-calc(18);
	font-weight: 600;
	line-height: 1.2;
	margin: 0 0 10px 0;
}

h6,
.h6 {
	font-family: $font-family-heading;
	font-size: rem-calc(16);
	font-weight: 600;
	line-height: 1.2;
	margin: 0 0 10px 0;
}

//-----------------------------------------
// Paragraph
//-----------------------------------------
p {
	font-size: $font-size-content;
	margin: 0;
}

//-----------------------------------------
// List
//-----------------------------------------
ul,
ol,
dl {
	font-size: $font-size-content;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

// Unordered List
ul {
}

// Ordered List
ol {
}

// Definition List
dl {
}

//-----------------------------------------
// List Item
//-----------------------------------------
li {
}

// Unordered List Item
ul {
	li {
	}
}

// Ordered List Item
ol {
	li {
	}
}

// Definition List
dl {
	// Definition Term
	dt {
	}

	// Definition Name
	dd {
	}
}

//-----------------------------------------
// Blockquote
//-----------------------------------------
blockquote {
}

//-----------------------------------------
// Cite
//-----------------------------------------
cite {
}

//-----------------------------------------
// Horizontal Rule
//-----------------------------------------
hr {
	border-top: 1px solid $color-gray;
}

//-----------------------------------------
// Table
//-----------------------------------------
table {
	border-collapse: collapse;
	margin-bottom: 25px;
	width: 100%;

	caption {
		font-weight: $font-weight-bold;
		padding: 10px;
	}

	thead {
		background-color: $color-primary;
		color: $color-white;

		th {
			font-weight: $font-weight-bold;
			padding: 10px;
			text-align: left;
			word-break: break-word;
		}
	}

	tfoot {
		background-color: $color-primary;
		color: $color-white;

		th {
			font-weight: $font-weight-bold;
			padding: 10px;
			text-align: left;
			word-break: break-word;
		}
	}

	tbody {
		tr {
			background-color: transparent;

			&:not(:last-child) {
				border-bottom: 1px solid $color-primary;
			}

			&:nth-child(even) {
				background-color: $color-gray;
			}

			&:nth-child(odd) {
				background-color: $color-white;
			}
		}

		td {
			font-weight: $font-weight-bold;
			padding: 10px;
			text-align: left;
			word-break: break-word;
		}
	}

	&--scroll {
		display: block;
		overflow-x: auto;
		width: 100%;
	}
}

//-----------------------------------------
// Form
//-----------------------------------------
form {
}

//-----------------------------------------
// Fieldset
//-----------------------------------------
fieldset {
	border: 1px solid $color-theme-black;
	border-radius: $global-radius;
	font-size: $font-size-content;
	padding: 10px;
	width: 100%;
}

//-----------------------------------------
// Legend
//-----------------------------------------
legend {
	font-weight: $font-weight-normal;
}

//-----------------------------------------
// Label
//-----------------------------------------
label {
	display: block;
	font-weight: $font-weight-bold;
}

//-----------------------------------------
// Input
//-----------------------------------------
input {
	border: 1px solid $color-theme-black;
	border-radius: $global-radius;
	font-size: $font-size-content;
	padding: 10px;
	width: 100%;

	&[type='date'],
	&[type='month'] {
		padding: 7px;
	}

	&[type='radio'],
	&[type='checkbox'] {
		width: auto;
	}
}

//-----------------------------------------
// Textarea
//-----------------------------------------
textarea {
	border: 1px solid $color-theme-black;
	border-radius: $global-radius;
	font-family: inherit;
	font-size: $font-size-content;
	padding: 10px;
	width: 100%;
}

//-----------------------------------------
// Select Dropdown
//-----------------------------------------
select {
	appearance: none;
	border: 1px solid $color-theme-black;
	border-radius: $global-radius;
	font-size: $font-size-content;
	padding: 10px;
	width: 100%;
}

//-----------------------------------------
// Anchor
//-----------------------------------------
a {
	background-color: transparent;
	color: inherit;
	cursor: pointer;
	outline: 0;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $color-primary;
	}

	&:focus {
		outline: 1px dotted;
	}
}

//-----------------------------------------
// Image
//-----------------------------------------
img {
	height: auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

//-----------------------------------------
// Strong Importance
// For SEO usage.
//-----------------------------------------
strong {
	font-weight: $font-weight-bold;
}

//-----------------------------------------
// Bold
//-----------------------------------------
b {
	font-weight: $font-weight-bold;
}

//-----------------------------------------
// Emphasis
// For SEO usage.
//-----------------------------------------
em {
	font-style: italic;
}

//-----------------------------------------
// Italic
//-----------------------------------------
i {
	font-style: italic;
}

//-----------------------------------------
// Underlined
//-----------------------------------------
u {
	text-decoration: underline;
}

//-----------------------------------------
// Higher
//-----------------------------------------
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	top: -0.5em;
	vertical-align: baseline;
}

//-----------------------------------------
// Lower
//-----------------------------------------
sub {
	bottom: -0.25em;
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

//-----------------------------------------
// Small Print
//-----------------------------------------
small {
	font-size: rem-calc-calc(12);
}

//-----------------------------------------
// Text Selection
//-----------------------------------------
::selection {
	background: $color-primary;
	color: $color-white;
	text-shadow: none;
}

//-----------------------------------------
// Text Placeholder
//-----------------------------------------
::placeholder {
	font-weight: $font-weight-light;
}

//-----------------------------------------
// SVG
//-----------------------------------------
svg:not(:root) {
	overflow: hidden;
}

//-----------------------------------------
// Button
//-----------------------------------------
button {
	cursor: pointer;
	font: inherit;

	&[disabled] {
		cursor: default;
	}
}
