//--------------------------------------------------------------
// GLOBAL FOOTER
//--------------------------------------------------------------

.g-footer {
  background-color: $color-theme-black;
  color: $color-theme-white;
  padding: 20px 0;
  width: 100%;

  &__copyright {
    font-size: 0.875rem;
    text-align: center;
  }
}
