//--------------------------------------------------------------
// GLOBAL LAYOUT MAIN
//--------------------------------------------------------------

.g-l-main {
	min-height: 100vh;
	position: relative;
	width: 100%;
}
