//--------------------------------------------------------------
// GUTENBERG BLOCKS
//--------------------------------------------------------------

//-----------------------------------------
// Inline Elements
//-----------------------------------------
.wysiwyg-content {
  p {
    img {
      display: inline;

      &.aligncenter {
        display: block;
      }

      &.alignright {
        display: block;
        margin-right: 0;
      }
    }
  }
}

//-----------------------------------------
// Common Blocks
//-----------------------------------------
// Audio

// Cover

// File

// Gallery
.wysiwyg-content {
  // <ul>
  .wp-block-gallery {
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
  }
}

// Heading

// Image
.wp-block-image {
  .alignleft,
  .alignright {
    @include mq($mq-tablet, false) {
      float: none;
      margin: 0 0 $global-spacing 0;
    }
  }

  .alignleft {
    @include mq($mq-tablet) {
      padding-right: $global-spacing;
    }
  }

  .alignright {
    @include mq($mq-tablet) {
      padding-left: $global-spacing;
    }
  }

  figcaption {
    margin: ($global-spacing / 2) 0 0;
  }
}

// List

// Paragraph

// Quote

// Video

//-----------------------------------------
// Formatting
//-----------------------------------------
// Classic

// Code
.wp-block-code {
}

// Custom HTML

// Preformatted

// Pullquote

// Table
.wp-block-table {
  // &.aligncenter {
  // }

  // &.alignleft {
  // }

  // &.alignright {
  // }
}

// Verse

//-----------------------------------------
// Layout Elements
//-----------------------------------------
// Button
.wp-block-button {
  color: $color-black;

  &__link {
    @extend .button;
  }
}

// Columns

// Group

// Media & Text
.wp-block-media-text {
  margin-bottom: $global-spacing;
}

// More

// Page Break

// Spacer

// Separator

//-----------------------------------------
// Widgets
//-----------------------------------------
// Archives

// Calendar

// Categories

// Latest Comments

// Latest Posts

// RSS

// Search

// Shortcode

// Tag Cloud

//-----------------------------------------
// Embeds
//-----------------------------------------
.wp-block-embed {
  $parent: &;

  margin: 0 0 $global-spacing 0;

  iframe {
    display: block;
    width: 100%;

    @include mq($mq-tablet) {
      max-width: 500px;
    }
  }

  &.alignleft {
    max-width: none;
  }

  &.aligncenter {
    iframe {
      margin: auto;
    }
  }

  &.alignright {
    max-width: none;

    #{$parent}__wrapper {
      display: flex;
      justify-content: flex-end;
    }
  }
}
